@page
@model ComicBookGallery.Pages.Book.EditModel
@{
  // ViewBag.Title
  ViewData["Title"] = "Sửa thông tin một cuốn sách";
}

<div class="card shadow">
  <div class="card-header">
    <h3>@ViewData["Title"]</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <form method="post">
          <input type="hidden" asp-for="Books.Id" />
          <div class="form-group mt-2">
            <label asp-for="Books.BookTitle" class="container"></label>
            <input asp-for="Books.BookTitle" class="form-control" />
            <span asp-validation-for="Books.BookTitle" class="text-danger"></span>
          </div>
          <div class="form-group mt-2">
            <label asp-for="Books.BookDescription" class="container"></label>
            <input asp-for="Books.BookDescription" class="form-control" />
            <span asp-validation-for="Books.BookDescription" class="text-danger"></span>
          </div>
          <div class="form-group mt-2">
            <label asp-for="Books.Author" class="container"></label>
            <input asp-for="Books.Author" class="form-control" />
            <span asp-validation-for="Books.Author" class="text-danger"></span>
          </div>
          <div class="form-group">
            @* <a class="btn btn-">Thêm</a>
            <a class="btn btn-">Danh sách các cuốn sách</a> *@
            <button type="submit" class="btn btn-primary mt-2">Sửa</button>
            <a asp-page="Index" class="btn btn-success mt-2">Danh sách các cuốn sách</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
}